
/* Page Header
--------------------------------------------------------------------------------*/

.site-page-header {
	
	@include clearfix();
	background: url('../images/bgr-page-header.png') repeat-x center top #434952;
	margin: 0 0 40px;
	
	.page-header {
		@include column(24);
		color: #fff;
		font-size: 26px;
		font-weight: $fw-light;
		line-height: 2;
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 40px;
		padding-top: 40px;
		
		a,
		a:hover,
		a:focus,
		a:active {
			border-bottom: 1px dashed #fff;
			color: #fff;
		}
		
	}
	
}
