
/* Variables
--------------------------------------------------------------------------------*/

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;


/* Global / Common Elements
--------------------------------------------------------------------------------*/

@import 'normalize';
@import 'mixins';
@import 'grid';
@import 'default';
@import 'typography';
@import 'links';
@import 'forms';
@import 'comments';
@import 'widgets';
@import 'wp-admin-bar';


/* Structural Elements
--------------------------------------------------------------------------------*/

@import 'site-header';
@import 'page-header';
@import 'content';
@import 'footer';


/* Page Templates
--------------------------------------------------------------------------------*/


/* Tertiary Elements
--------------------------------------------------------------------------------*/

@import 'holding';
@import 'maintenance';
